In [1]:
import pandas as pd
import numpy as np
pd.__version__

'0.23.4'

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [3]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])

In [8]:
print(type(data.a))

<class 'numpy.float64'>

In [12]:
data.index = [2, 3, 4, 6]
data[2]

0.25

In [15]:
population_dict = {'California': 38332521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}

In [16]:
population = pd.Series(population_dict)

In [17]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [20]:
population['California': 'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [21]:
area_dict = {'California': 38332521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}

In [22]:
area = pd.Series(area_dict)

In [23]:
area

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [24]:
states = pd.DataFrame({'population': population, 'area': area})

In [25]:
states

            population      area
California    38332521  38332521
Texas         26448193  26448193
New York      19651127  19651127
Florida       19552860  19552860
Illinois      12882135  12882135

In [27]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [28]:
states.columns

Index(['population', 'area'], dtype='object')

In [29]:
states.area

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: area, dtype: int64

In [30]:
data = [{'a': i, 'b': i*2} for i in range(3)]

In [31]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [32]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.516722  0.506109
b  0.736876  0.015004
c  0.673605  0.948983

In [33]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [34]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [36]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [37]:
ind[1]

3

In [38]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [39]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [40]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [41]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [42]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [43]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [44]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [45]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

In [46]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [47]:
'a' in data

True

In [48]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [49]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [50]:
data['e'] = 1.25

In [51]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [52]:
data['a'] = 0

In [53]:
data

a    0.00
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [54]:
data['a': 'c']

a    0.00
b    0.50
c    0.75
dtype: float64

In [56]:
data[data > 0.3 & data < 0.8]

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]